@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.button-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}
.section-titles{
    font-size: 3.8rem;
    font-weight: 700;
}

/* drk2 */
.text-gray{
    color: #424242;
}
/* drk3 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}
/* header styles */


/* nav-bar relatated styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1461px;
    margin: 0 auto;
    
}

/* banner styles */

.banner-conten{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    max-width: 700;
    font-size: 4rem;
}
img{
    max-width: 100%;
}

/* teams and future styles  */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.ours-futures{
    margin-left: 130px;
    max-width: 540px;
}

#quick-list{
    font-weight: 400;
}
.feat-color{
    color: #FF900E;
}


/* features section styles */
#girl{
    width: 1440px;
}
.Features{
    gap: 100px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
}
#Experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -95px;
    margin-top: -100px;
}
#Experience-years{
    font-weight: 700;
    font-size: 4rem;
    
}
/* some facts styles  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.facts-number{
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.facts-name{
    margin-top: 10px;
}
/* sponser styles */
.sponser-info{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}
.sponser-comp{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponser-comp img{
    filter: grayscale(100%);
    border: 1px solid #FF900E;
    padding: 7px 7px;
    border-radius: 5px;
}


/* footer */
.footer{
    width: 1440px;
    height: 100px;
    background-color: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
    margin-top: 50px;
   
}
#all{
    display: flex;
    justify-content: center;
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 35px 35px;
}